absl-py==2.0.0
accelerate==0.30.1
acres==0.3.0
addict==2.4.0
affine==2.4.0
aiohttp==3.9.5
aiosignal==1.3.1
alabaster==0.7.13
albucore==0.0.17
albumentations==1.4.16
alembic==1.12.0
altgraph==0.17.4
amqp==5.1.1
annotated-types==0.7.0
ansible==10.4.0
ansible-core==2.17.13
antlr4-python3-runtime==4.9.3
anyio==4.8.0
anytree==2.9.0
appdirs==1.4.4
argcomplete==3.2.3
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asciitree==0.3.3
ase==3.23.0
assertpy==1.1
astor==0.8.1
astra-toolbox @ file:///scratch3/hli001/installs/astra/astra-toolbox-2.4.0/build/linux/python/dist/astra_toolbox-2.4.0-cp312-cp312-linux_x86_64.whl#sha256=3a6910e445f1c1ac89eae748b5762902a11f808f9afcbc221136a3e4c73b7bc6
astroid==3.0.0
astropy==5.3.3
asttokens==2.4.0
astunparse==1.6.3
async-lru==2.0.4
asyncio-atexit==1.0.1
atom==0.10.2
attrs==23.1.0
audioread==3.0.1
autocommand==2.2.2
autograd==1.6.2
Automat==22.10.0
autopep8==2.3.1
autoray==0.6.12
av==12.0.0
axial-positional-embedding==0.2.1
Babel==2.12.1
backcall==0.2.0
backports.weakref==1.0.post1
ballpark==1.4.0
bash_kernel==0.9.3
bcrypt==4.0.1
beartype==0.18.5
beautifulsoup4==4.12.2
beniget==0.4.1
bidict==0.22.1
bids==0.0
bids-validator==1.14.7.post0
bidsschematools==1.0.4
billiard==4.1.0
binaryornot==0.4.4
biom-format==2.1.16
biopandas==0.4.1
biopython==1.83
biotite==0.41.2
bitsandbytes==0.45.0
black==23.9.1
bleach==6.0.0
blessed==1.20.0
blinker==1.6.2
blis==0.7.11
blue-crab==0.1.2
bokeh==3.2.2
boto3==1.34.14
botocore==1.34.14
Bottleneck==1.3.7
bpytop==1.0.68
braceexpand==0.1.7
branca==0.6.0
bravado==11.0.3
bravado-core==6.1.1
brewer2mpl==1.4.1
Brotli==1.1.0
bs4==0.0.1
build==1.0.3
bytecode==0.15.0
cachetools==5.3.3
cadquery==2.3.0
cairocffi==1.6.1
calmsize==0.1.3
Cartopy==0.24.1
casa-formats-io==0.2.1
casadi==3.6.7
catalogue==2.0.10
catboost==1.2.3
cbook==0.0.4
ccimport==0.4.2
celery==5.3.4
certifi==2024.8.30
cffi==1.16.0
cfgv==3.4.0
cftime==1.6.2
chardet==5.2.0
charset-normalizer==3.3.2
chex==0.1.90
chumpy==0.70
ci-info==0.3.0
cityscapesScripts @ file:///scratch3/hli001/installs/mask2former/cityscapesScripts/cityscapesScripts-2.2.4-py3-none-any.whl#sha256=a0d7f9f913e01a83ca3aa3f96904b394f356bc4c78fdfd0f0602f09894705171
click==8.1.7
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
cligj==0.7.2
clip @ file:///scratch3/hli001/installs/clip/CLIP/dist/clip-1.0-py3-none-any.whl#sha256=9fcdfa342eddff6c85c2ed914c2eff8308996eefe69e89250983bf484989e36a
cloudpathlib==0.16.0
cloudpickle==2.2.1
cmaes==0.10.0
colorama==0.4.6
colorcet==3.0.1
coloredlogs==15.0.1
colorlog==6.7.0
CoLT5-attention==0.11.1
comm==0.1.4
commonmark==0.9.1
compressed-tensors==0.9.1
confection==0.1.4
ConfigArgParse==1.7
configmypy==0.1.0
configobj==5.0.9
configparser==6.0.0
constantly==15.1.0
contextlib2==21.6.0
contourpy==1.1.1
cookiecutter==2.4.0
corenlp==0.0.14
cov-core==1.15.0
coverage==7.3.2
crc32c==2.7.1
croniter==2.0.1
cryptography==45.0.5
cssselect2==0.8.0
cuda-python==12.6.0
cumm-cu122 @ file:///scratch3/hli001/installs/spconv/cumm/dist/cumm_cu122-0.5.2-py3-none-any.whl#sha256=c3d62e93a10610562c357b804a78e3e9bbaf4bb533e9bc55ccfaf772e0435aa2
cupy @ file:///scratch3/hli001/installs/cupy/cupy-git/cupy-13.0.0b1-cp312-cp312-linux_x86_64.whl#sha256=6b2f698e040e07e863440066315b6342d4725696e32b5d38f712b8399fbbf760
cycler==0.12.0
cymem==2.0.8
Cython==3.0.2
dash==2.16.1
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
dask==2023.12.1
databricks-cli==0.18.0
databricks-sdk @ file:///scratch3/hli001/installs/python/databricks-sdk-py-0.61.0/databricks_sdk-0.61.0-py3-none-any.whl#sha256=d7cc2288ad75dcfd04a90fc5af9d32b2b1e8671078c87a594cf416713a372445
dataclasses==0.6
datamol==0.12.5
datasets==2.21.0
dateutils==0.6.12
deap==1.4.1
debugpy==1.8.0
decorator==5.1.1
decord==0.6.0
deepdiff==6.7.1
deepspeed==0.13.5
defusedxml==0.7.1
denoising-diffusion-pytorch @ file:///scratch3/hli001/installs/denoising_diffusion/denoising-diffusion-pytorch-2.0.6/dist/denoising_diffusion_pytorch-2.0.6-py3-none-any.whl#sha256=0739fe75dc73be0b14f12913b99748c5364fa3a7d9eedb17fa02c2f1e83ecd34
Deprecated==1.2.14
descartes==1.1.0
detectron2 @ file:///scratch3/hli001/installs/mask2former/detectron2/detectron2-0.6-cp312-cp312-linux_x86_64.whl#sha256=82a1c888056851cca2f27b0d4387765fccbca363d24ff9cec469b4560cd0544b
dgl @ file:///scratch3/hli001/installs/dgl/dgl-git/python/dist/dgl-2.2-cp312-cp312-linux_x86_64.whl#sha256=87e6c7b45c4e5de14ec35748f57fdff6e712b324fb30efb9a5d60d38c2c6858b
dicom==0.9.9.post1
diff-gaussian-rasterization @ file:///scratch3/hli001/installs/gaussian-splatting/submodules/diff-gaussian-rasterization
diffusers==0.29.2
dill==0.3.7
distlib==0.3.7
distro==1.9.0
dlx==1.0.4
dm-haiku==0.0.10
dm-tree==0.1.8
dnspython==2.6.1
docker==6.1.3
docker-pycreds==0.4.0
docopt==0.6.2
docplex==2.25.236
docstring-parser==0.15
docutils==0.20.1
donfig==0.8.1.post1
dotmap==1.3.30
dparse==0.6.3
duckdb @ file:///scratch3/hli001/installs/python/duckdb/tools/pythonpkg/duckdb-0.9.3.dev2267-cp312-cp312-linux_x86_64.whl#sha256=f32d0a9cd256155a1a8d949f7a4bfa5ee3c57ac49aa2335c7754efb5b1d385ff
dulwich==0.21.6
e3nn==0.5.1
easydict==1.10
echo==0.8.0
editor==1.6.5
ehtim==1.2.10
einops==0.8.0
einx==0.3.0
ema-pytorch==0.4.8
embreex==2.17.7.post3
emoji==2.9.0
enaml==0.16.1
entrypoints==0.4
enum34==1.1.10
et-xmlfile==1.1.0
etelemetry==0.3.1
etils==1.10.0
eval_type_backport==0.2.0
evaluate==0.4.3
exceptiongroup==1.2.0
executing==2.0.0
ExifRead-nocycle==3.0.1
ez-setup==0.9
fabric==3.2.2
face-alignment==1.3.4
fair-esm==2.0.0
fairscale==0.4.13
fast-histogram==0.11
fastapi==0.108.0
fastcluster==1.2.6
fastcore==1.7.22
fastdtw==0.3.4
fasteners==0.19
fastjsonschema==2.18.1
fastrlock==0.8.2
fdb==2.0.2
filelock==3.12.4
fiona==1.9.6
fire==0.5.0
flann==1.9.2
flash-attention==1.0.0
Flask==3.0.0
Flask-SocketAPI==0.2
Flask-SocketIO==5.3.6
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.1
flatbuffers==23.5.26
flexcache==0.3
flexparser==0.4
fonttools==4.43.0
formulaic==1.1.1
fqdn==1.5.1
freetype-py==2.4.0
frozendict==2.3.8
frozenlist==1.4.0
fsspec==2024.6.1
ftfy==6.1.1
funcsigs==1.0.2
future==0.18.3
futures==3.1.1
fvcore==0.1.5.post20221221
gast==0.5.4
GDAL==3.7.2
gdcm==1.1
gdown==4.7.1
gemmi==0.7.1
genieclust==1.1.6
gensim==4.3.2
geographiclib==2.0
geopandas==0.14.3
geopy==2.4.0
gevent==23.9.1
ggplot==0.11.5
gitdb==4.0.12
GitPython==3.1.45
glfw==2.7.0
glue-core==1.13.1
glue-qt==0.2.0
glue-vispy-viewers==1.1.0
glueviz==1.2.0
gluonts==0.15.1
gmsh==4.12.2
goatools==1.3.11
google-auth==2.23.3
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
googleapis-common-protos==1.65.0
gprof2dot==2025.4.14
GPUtil==1.4.0
gpxpy==1.5.0
graphene==3.4.3
graphql-core==3.2.6
graphql-relay==3.2.0
graphviz==0.20.3
greenlet==3.0.0
GridDataFormats==1.0.2
grpcio==1.59.0
grpcio-tools==1.59.0
gufe @ file:///scratch3/hli001/installs/openfe/gufe-1.4.1/gufe-1.4.1-py3-none-any.whl#sha256=227febfcb87a118ea4afc59c1c86e6baa900ac1eefcf371168b2a8ad46640cab
gunicorn==21.2.0
gym==0.26.2
gym-notices==0.0.8
gzip-reader==0.1
h11==0.16.0
h3==3.7.6
h5py==3.10.0
hdrhistogram==0.10.3
hf-xet==1.1.5
hjson==3.1.0
holoviews==1.17.1
hsluv==5.0.4
html5lib==1.1
httpcore==1.0.9
httplib2==0.22.0
httpx==0.27.0
hugedict==2.12.10
huggingface-hub==0.27.1
humanfriendly==10.0
husl==4.0.3
hydra-colorlog==1.2.0
hydra-core==1.3.2
hyperlink==21.0.0
hyperopt==0.2.7
hypothesis==6.87.1
icalendar==5.0.10
icechunk==0.1.0a4
icecream==2.1.3
identify==2.6.3
idna==3.4
igraph==0.10.8
ihm==2.5
imagecodecs==2024.1.1
imageio==2.31.6
imageio-ffmpeg==0.6.0
imagesize==1.4.1
img2dataset==1.45.0
imgaug==0.4.0
imgviz==1.7.6
importlib-metadata==6.8.0
importlib_resources==6.4.5
incremental==22.10.0
inflate64==0.3.1
inflection==0.5.1
iniconfig==2.0.0
inquirer==3.2.1
interface-meta==1.3.0
interval==1.0.0
invoke==2.2.0
iopath==0.1.10
ipadic==1.0.0
ipdb==0.13.13
ipykernel==6.25.2
ipyleaflet==0.17.4
ipyparallel==8.7.0
ipython==8.22.2
ipython-genutils==0.2.0
ipywidgets==8.1.1
iso8601==2.1.0
isodate==0.6.1
isoduration==20.11.0
isort==5.12.0
itsdangerous==2.1.2
jaraco.classes==3.3.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jaraco.text==4.0.0
jax @ file:///scratch3/hli001/installs/python/jax/jax-0.4.18-py3-none-any.whl#sha256=2ded3f558b74593c3533036a90c20d41ea35f35c74b25ca0fc86f4aafc388746
jaxlib @ file:///scratch3/hli001/installs/python/jax/jaxlib-0.4.18%2Bcuda12.cudnn89-cp312-cp312-manylinux2014_x86_64.whl#sha256=14f74ff081882ea091c121e355051b35932e39cb7ff7242b88a87f3690f3ca90
jaxtyping==0.2.34
jedi==0.19.1
jeepney==0.8.0
Jinja2==3.1.6
jiter==0.10.0
jmespath==1.0.1
jmp==0.0.4
joblib==1.3.2
johnnydep==1.20.3
jplephem==2.23
json5==0.9.24
jsonlines==4.0.0
jsonpickle==4.1.1
jsonpointer==2.4
jsonref==1.1.0
jsonschema==4.19.1
jsonschema-specifications==2023.7.1
jupyter-events==0.10.0
jupyter-lsp==2.2.4
jupyter_client==8.6.1
jupyter_core==5.7.2
jupyter_server==2.13.0
jupyter_server_terminals==0.5.3
jupyterlab==4.1.5
jupyterlab_pygments==0.3.0
jupyterlab_server==2.25.4
jupyterlab_templates==0.5.2
jupyterlab_widgets==3.0.10
kappabenchmark==0.0.10
kappaconfig==1.0.31
kappadata==1.4.13
kappamodules==0.1.61
kappaprofiler==1.0.11
kappaschedules==0.0.31
kappautils==0.0.7
kartograf==1.0.1
kcounter==0.1.1
keras==2.14.0
Keras-Applications==1.0.8
keras-nightly==2.15.0.dev2023092207
Keras-Preprocessing==1.1.2
keyring==24.2.0
kiwisolver==1.4.5
kmedoids==0.5.2
kombu==5.3.2
kornia==0.7.2
kornia_rs==0.1.3
kshape==1.0.6
langcodes==3.3.0
lapsolver @ file:///scratch3/hli001/installs/dmcf/DMCF/lapsolver_test/py-lapsolver/dist/lapsolver-1.1.0-cp312-cp312-linux_x86_64.whl#sha256=d8c13347a1cb6f6b8139111655e9ce78ba1955ccbb55d2158cb5c2333805cd8b
lark==1.1.9
lazy==1.6
lazy_loader==0.3
lib_pod5==0.3.15
libmagic==1.0
librosa==0.10.2.post1
lightning==2.4.0
lightning-cloud==0.5.57
lightning-utilities==0.10.0
linear-operator==0.5.3
linkify-it-py==2.0.2
lit==17.0.6
llvmlite==0.43.0
lmdb==1.4.1
local-attention==1.9.15
locket==1.0.0
loguru==0.7.2
lomap2 @ file:///scratch3/hli001/installs/openfe/Lomap-3.2.1/lomap2-3.2.1-py3-none-any.whl#sha256=3d04cc347fc8b9c79cb5f8dd026e96ba46a46278702133d521de3967d488b1db
looseversion==1.3.0
loro==1.5.3
lxml==4.9.3
Mako==1.2.4
mapbox-earcut==1.0.1
marimo==0.14.15
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==2.1.3
mashumaro==3.15
mask2former @ file:///scratch3/hli001/installs/mask2former/mask2former/mask2former-0.1.5-py3-none-any.whl#sha256=91222281ee35ccaee34937f4f9f91203a34e74a5513dfe3268b693e89c5d3e17
matplotlib @ file:///dev/shm/hli001/matplotlib-3.8.0/matplotlib-3.8.0-cp312-cp312-linux_x86_64.whl#sha256=b90d5e3918b566f2fdd0eb4f6cb44972cc26629840da03cb5039e8a31e4345d3
matplotlib-inline==0.1.6
matplotlib-venn==0.11.9
matscipy==1.1.1
mccabe==0.7.0
mda-xdrlib==0.2.0
MDAnalysis==2.7.0
mdit-py-plugins==0.4.0
mdtraj==1.10.0
mdurl==0.1.2
mecab-python3==1.0.9
medchem==2.0.5
memray==1.18.0
meshio==5.3.5
meson==1.2.2
mikecore==0.2.1
mikeio==1.7.1
MinkowskiEngine @ file:///scratch3/hli001/installs/MinkowskiEngine/MinkowskiEngine-git/MinkowskiEngine-0.5.4-cp312-cp312-linux_x86_64.whl#sha256=fc305fcf6fc443f4c5d99860210439a7bd3a1c5efe023a15981e1434c0041ec5
mistune==3.0.2
mizani==0.11.4
ml-collections==0.1.1
ml-dtypes==0.4.1
mlflow==3.1.4
mlflow-skinny==3.1.4
mmsegmentation==1.2.2
mmtf-python==1.1.3
mock==5.1.0
modelcif==1.3
modelskill==1.0.0
monai @ file:///scratch3/hli001/installs/python/dl_hpc_starter_pack/src/MONAI/dist/monai-1.3.0%2B57.gd7137cf4.dirty-cp312-cp312-linux_x86_64.whl#sha256=2ceffc082a00ef80c57b47e8c06a52360f6273485cfbcbc123122c86e273fda1
monotonic==1.6
more-itertools==10.1.0
moss==0.5
mpi4py==4.1.0
mpl-scatter-density==0.7
mpmath==1.3.0
mrcfile==1.5.0
msgpack==1.0.7
msgpack-numpy==0.4.8
mujoco==3.2.5
multidict==6.0.4
multiprocess==0.70.15
MultiScaleDeformableAttention @ file:///scratch3/hli001/installs/mask2former/Mask2Former/mask2former/modeling/pixel_decoder/ops/MultiScaleDeformableAttention-1.0-cp312-cp312-linux_x86_64.whl#sha256=934b5978c321c1bfa2735d0aae9da9d924e9533ca2d305c6a42049e9e519be5e
multitasking==0.0.11
multivolumefile==0.2.3
munch==4.0.0
murmurhash==1.0.10
mypy-extensions==1.0.0
narwhals==1.22.0
natsort==8.4.0
nbclassic==1.0.0
nbclient==0.10.0
nbconvert==7.16.3
nbformat==5.10.3
nbstripout==0.7.1
neptune==1.8.6
nest-asyncio==1.5.8
netCDF4==1.6.4
networkx==3.1
neuraloperator==0.3.0
nfft==0.1
nflows==0.14
nglview==3.1.2
nh3==0.2.14
nibabel==5.1.0
ninja==1.11.1
nipype==1.10.0
nltk==3.8.1
nodeenv==1.8.0
normflows==1.7.3
nose==1.3.7
nose-cov==1.6
nose-exclude==0.5.0
nose-parameterized==0.6.0
nose-xunitmp==0.4.1
nosexcover==1.0.11
notebook==7.1.2
notebook_shim==0.2.4
num2words==0.5.13
numba==0.60.0
numcodecs==0.13.1
numexpr==2.8.7
numpy @ file:///scratch3/hli001/installs/python/numpy-1.26.4/numpy-1.26.4-cp312-cp312-linux_x86_64.whl#sha256=25c6b8d18dbbfacaeb147b94af4f526b479809746f18181ca35e047feb0bf68b
numpy-stl==3.0.1
nvidia-ml-py==12.575.51
nvitop==1.5.2
nvtx==0.2.10
oauthlib==3.2.2
obonet==1.0.0
omegaconf==2.3.0
onnx==1.17.0
onnxruntime==1.20.1
opacus==1.4.1
openai==1.97.1
opencolorio==2.3.2
opencv-python-headless==4.10.0.84
openfe_analysis @ file:///scratch3/hli001/installs/openfe/openfe_analysis-0.3.1/openfe_analysis-0.3.1-py3-none-any.whl#sha256=7b764a8faf63872448d847a0b693809da5a80e53d0b7a670172a85eb245cb930
openff-interchange @ file:///scratch3/hli001/installs/openfe/openff-interchange/openff_interchange-0.4.2-py3-none-any.whl#sha256=13a1e574a8682e1b2559ee9e37b1be046453bf858cfdad2423da2f8f52e962b6
openff-models @ file:///scratch3/hli001/installs/openfe/openff-models-0.1.2/openff_models-0.1.2-py3-none-any.whl#sha256=6093c549b85135296cb98b859dedd3cb38ed6ec42e429a574a1ae1e1d6cb6540
openff-toolkit @ file:///scratch3/hli001/installs/openfe/openff-toolkit/openff_toolkit-0.16.9-py3-none-any.whl#sha256=800875c51b2a9466c7ab1db8bdc730122c74e79525c57b61030b428fa962097e
openff-units @ file:///scratch3/hli001/installs/openfe/openff-units/openff_units-0.3.1-py3-none-any.whl#sha256=9bf7f70ba6cc9403afac36c584f9759322e8c5b3dccc6375ddaa9dcae6dc47a3
openff-utilities @ file:///scratch3/hli001/installs/openfe/openff-utilities/openff_utilities-0.1.15-py3-none-any.whl#sha256=dd472e1f8926f64c9c7d7543e19c5528543c6602e26ad6464f58776c4911f0fc
openforcefields @ file:///scratch3/hli001/installs/openfe/openff-forcefields/openforcefields-2024.9.0-py3-none-any.whl#sha256=b34950ff52f9b33e398a73391a573a5378309a93a9b5040802c140a3b2f963c4
OpenMM @ file:///scratch3/hli001/installs/openmm/openmm-8.0.0/build/python/OpenMM-8.0.0-cp312-cp312-linux_x86_64.whl#sha256=78a98a734a12f5e67e36171322edebe89dd671b36c3a9e1475495b55b78e053a
openmmforcefields @ file:///scratch3/hli001/installs/openfe/openmmforcefields-0.14.2/openmmforcefields-0.14.2-py3-none-any.whl#sha256=b4a6412be2e78b878509a83a2536a5b598da3aee135df31ab42b97ec47c3b3e9
openmmtools @ file:///scratch3/hli001/installs/openfe/openmmtools-0.25.0/openmmtools-0.25.0-py3-none-any.whl#sha256=cab8a27d1d8aace4d48ac1dfebbef919cf87155a15b650d0fe6d106c3aca2d14
openpyxl==3.1.2
opentelemetry-api==1.27.0
opentelemetry-exporter-otlp-proto-common==1.27.0
opentelemetry-exporter-otlp-proto-http==1.27.0
opentelemetry-proto==1.27.0
opentelemetry-sdk==1.27.0
opentelemetry-semantic-conventions==0.48b0
opt-einsum==3.3.0
opt-einsum-fx==0.1.4
optax==0.2.5
optuna==3.3.0
ordered-set==4.1.0
orjson==3.9.15
overrides==7.7.0
oyaml==1.0
packaging==23.2
pandas==2.2.3
pandas-appender==0.9.9
pandas-flavor==0.6.0
pandocfilters==1.5.1
panel==1.2.3
panopticapi @ file:///scratch3/hli001/installs/mask2former/panopticapi/panopticapi-0.1-py3-none-any.whl#sha256=f1081359a807eb49e9c2d4ddf5c29875fddb200b14c85519408904cb3b03c474
param==1.13.0
paramiko==3.3.1
paramsurvey==0.4.21
parse==1.19.1
parso==0.8.3
partd==1.4.1
pathos==0.3.1
pathspec==0.11.2
pathy==0.10.3
patool @ file:///scratch3/hli001/installs/patools/patool-2.4.0/dist/patool-2.4.0-py2.py3-none-any.whl#sha256=6bfb7e8ed94ffbafe79accb6154a18902262d29926bf5914423820fd3a0a4b23
patsy==0.5.3
Paver==1.3.4
pbr==5.11.1
pccm==0.4.11
pdbfixer @ file:///scratch3/hli001/installs/python/pdbfixer/pdbfixer-1.9/dist/pdbfixer-1.9.0-py3-none-any.whl#sha256=465e71ab672b9a8cedd2833c2f468706aebd11a84314cc7fcd5c165557334c76
peewee==3.18.2
peft==0.13.2
pegen==0.2.0
PennyLane==0.37.0
PennyLane_Lightning==0.37.0
pexpect==4.8.0
phonopy==2.43.1
pickleshare==0.7.5
Pillow==10.0.1
pingouin==0.5.4
Pint==0.24.4
pipreqs==0.4.13
pipx==1.4.3
pkgconfig==1.5.5
pkginfo==1.9.6
platformdirs==4.3.7
plotly==5.20.0
plotnine==0.13.6
plugcli==0.2.0
pluggy==1.3.0
ply==3.11
plyfile==1.0.3
pod5==0.3.15
pointops @ file:///scratch3/hli001/installs/pointcept/Pointcept/libs/pointops/dist/pointops-1.0-cp312-cp312-linux_x86_64.whl#sha256=aa606b32a3d452fbeb4ce2e88c9025116725d0c3358f832e17a14df3c7d25be6
polars==1.6.0
polyscope==2.3.0
pooch==1.7.0
portalocker==2.8.2
pox==0.3.3
ppft==1.7.6.7
pre_commit==4.0.1
preshed==3.0.9
prettyprint==0.1.5
prettytable==3.9.0
product_key_memory==0.2.11
ProDy @ file:///scratch3/hli001/installs/prody/prody-git/dist/ProDy-2.4.1-cp312-cp312-linux_x86_64.whl#sha256=69e9e8cc8cc56dc02180b8485c7961b9a94ff8521877b158ebf3faea721cacd8
prometheus_client==0.20.0
prompt-toolkit==3.0.43
propcache==0.2.1
protobuf==4.25.1
prov==2.0.1
psutil==5.9.8
psycopg2==2.9.9
ptyprocess==0.7.0
pure-eval==0.2.2
puremagic==1.28
pvextractor==0.3
py-cpuinfo==9.0.0
py-grit==0.0.1a2
py-spy @ file:///scratch3/hli001/installs/python/pyspy/py-spy/py_spy-0.3.14-py3-none-linux_x86_64.whl#sha256=dc1e0b2044d317dfa2c452d123f38730d546f19dda4b5bebb029c361ba9b03d0
py3Dmol==2.5.0
py4j==0.10.9.7
py7zr==0.20.6
pyarrow==16.1.0
pyarrow-hotfix==0.6
pyasn1==0.5.0
pyasn1-modules==0.3.0
pybcj==1.0.1
pybids==0.19.0
pybind11==2.11.1
pycairo==1.25.0
pycocoevalcap==1.2
pycocotools==2.0.7
pycodestyle==2.12.1
pycollada==0.7.2
pycosat==0.6.3
pycparser==2.21
pycrdt==0.11.1
pycryptodomex==3.23.0
pyct==0.5.0
pycuda==2024.1.2
pydantic==2.8.2
pydantic_core==2.20.1
pydeck==0.8.0
pydicom==2.4.3
pydot==2.0.0
pydotplus==2.0.2
pydyf==0.11.0
pyenchant==3.2.2
pyerfa==2.0.0.3
pyflann @ file:///scratch3/hli001/installs/flann/pyflann/dist/pyflann-1.6.13-py3-none-any.whl#sha256=6ca6611c213a1c7d420d7fde1269b34971d455864ecd3881c7044165ad5a355c
PyGithub==2.1.1
Pygments==2.16.1
pygraphviz @ file:///scratch3/hli001/installs/openfe/pygraphviz-pygraphviz-1.14/pygraphviz-1.14-cp312-cp312-linux_x86_64.whl#sha256=89f67ec9fb7bac1d771dc06e47334d8396e959c378403ef82416c9f0ed744f90
pyhocon==0.3.61
pyinstaller==6.7.0
pyinstaller-hooks-contrib==2024.6
PyJWT==2.10.1
pylibjpeg==2.0.1
pylibjpeg-libjpeg==2.1.0
pyliblzfse==0.4.1
pylint==3.0.0
pymbar==4.0.3
pymdown-extensions==10.14
pymesh==1.0.2
pymeshlab==2023.12.post1
pymongo==4.14.1
pymultinest==2.12
PyNaCl==1.5.0
pynndescent==0.5.13
pynvml==11.5.3
pyopencl @ file:///scratch3/hli001/installs/python/pyopencl/pyopencl-git/pyopencl-2023.1.2-cp312-cp312-linux_x86_64.whl#sha256=070c326f5b15d5f5606ad6d7d5d2b0fb20fa78f3de3d3df295c844cae29d821e
PyOpenGL==3.1.7
PyOpenGL-accelerate==3.1.10
pyparsing==3.1.1
PyPDF2==3.0.1
pyphen==0.17.2
pypng @ file:///scratch3/hli001/installs/panoptic-lifting/test/lib/python3.12/pypng-pypng-0.20250521.0/pypng-0.20250521.0-py3-none-any.whl#sha256=1b610631395ff8e6cb7cd8198d3db1b7ba03fea9bc61f42020e1b0d2595f6cbb
pyppmd==1.0.0
pyproj==3.6.1
pyproject-api==1.5.4
pyproject-metadata==0.7.1
pyproject_hooks==1.0.0
PyQt5==5.15.10
PyQt5-Qt5==5.15.2
PyQt5_sip==12.17.0
PyQt6==6.5.2
PyQt6-Qt6==6.5.2
PyQt6-sip==13.5.2
pyqtgraph==0.13.7
pyquaternion==0.9.9
pyrsistent==0.20.0
pyshp==2.3.1
pyslow5==1.2.0
PySocks==1.7.1
pyspnego==0.10.1
pytest==7.4.2
pytest-mock==3.14.0
python-constraint==1.4.0
python-dateutil==2.9.0.post0
python-docx==1.1.0
python-dotenv==1.1.1
python-engineio==4.7.1
python-etcd==0.4.5
python-igraph==0.10.8
python-json-logger==2.0.7
python-multipart==0.0.12
python-prctl==1.8.1
python-slugify==8.0.1
python-socketio==5.9.0
python-utils==3.8.1
pythran==0.14.0
pytools==2023.1.1
pytorch-concurrent-dataloader==0.0.7
pytorch-fid==0.3.0
pytorch-lightning==2.5.0
pytorch-lightning-bolts==0.3.2.post1
pytz==2025.2
pyviz_comms==3.0.0
PyWavelets==1.8.0
PyYAML==6.0.1
pyzmq==25.1.1
pyzstd==0.15.9
qimage2ndarray==1.10.0
qtconsole==5.4.4
QtPy==2.4.0
Quandl==3.7.0
querystring-parser==1.2.4
quickshear==1.2.0
radgraph @ file:///scratch3/hli001/installs/python/radgraph-0.1.17/dist/radgraph-0.1.17-py3-none-any.whl#sha256=caf6a9884f7b2b3b42b391efa156332b6e39ea46a37b311ffe0d3608c59cb161
radio-beam==0.3.4
randomname==0.2.1
rapids-build-backend==0.3.2
rapids-dependency-file-generator==1.14.0
rasterio==1.4.1
ray==2.49.1
rdflib==7.1.4
rdkit==2024.9.6
readchar==4.0.5
readme-renderer==42.0
recommonmark==0.7.1
referencing==0.30.2
reformer-pytorch==1.4.4
regex==2023.10.3
reportlab==4.0.5
reportseff==2.8.4
requests==2.32.3
requests-ntlm==1.2.0
requests-oauthlib==1.3.1
requests-toolbelt==1.0.0
resolvelib==1.0.1
retrying==1.3.4
retworkx==0.15.1
rfc3339-validator==0.1.4
rfc3986==2.0.0
rfc3986-validator==0.1.1
rfc3987==1.3.8
rich==13.6.0
rioxarray==0.17.0
rmm-cu12==24.10.0
rocksdb @ file:///scratch3/hli001/installs/rocksdb/python-rocksdb-jansegre/dist/rocksdb-0.9.2-cp312-cp312-linux_x86_64.whl#sha256=3a54a24eb2b345e552fbe3da641f38232e6f005034903054806f0ea8f234e4aa
rouge-score==0.1.2
rpds-py==0.10.3
rpy2==3.5.16
rsa==4.9
Rtree==1.2.0
ruamel.yaml==0.17.35
ruamel.yaml.clib==0.2.8
ruff==0.12.2
runs==1.2.0
rustworkx==0.15.1
s3transfer==0.10.0
sacrebleu==2.5.1
sacremoses==0.1.1
safetensors==0.4.3
safety==2.3.5
scikit-base==0.9.0
scikit-bio==0.6.3
scikit-fuzzy==0.4.2
scikit-image==0.22.0
scikit-learn==1.3.1
scikit-learn-extra==0.3.0
scikit_build_core==0.10.6
scipy @ file:///scratch3/hli001/installs/python/scipy-1.11.4/scipy-1.11.4-cp312-cp312-linux_x86_64.whl#sha256=946daf02a69545b75711a7688e632c9cd752475533d02cb9ab57a23879571916
se3-transformer @ file:///scratch3/hli001/installs/dgl/DeepLearningExamples/DGLPyTorch/DrugDiscovery/SE3Transformer/dist/se3_transformer-1.2.0-py3-none-any.whl#sha256=b165ae86e7304b9d8b6830a7892f8ca694306a754706bd10f55549df8a5b49fe
seaborn==0.13.0
SecretStorage==3.3.3
segment-anything @ file:///scratch3/hli001/segment-anything/segment-anything/dist/segment_anything-1.0-py3-none-any.whl#sha256=391debff4d117a6f9d4e1429957d40b693ec632ea8fc1aba63d106d623dc718b
selfies==2.1.2
semantic-version==2.10.0
Send2Trash==1.8.2
sentence-transformers==3.3.1
sentencepiece==0.2.0
sentry-sdk==2.34.1
setproctitle==1.3.3
setuptools==68.2.2
sgp4==2.25
shapely==2.0.2
shtab==1.6.4
simple-kNN==1.1.6
simple-websocket==0.10.1
simplejson==3.19.1
sip==6.7.11
six==1.17.0
skia-python==87.6
sklearn-pandas==2.2.0
sklearn2pmml==0.99.0
skorch==0.15.0
sktime==0.33.0
skyfield==1.53
slint==1.6.0a8
smart-open==6.4.0
smmap==5.0.1
smplx==0.1.28
snakeviz==2.2.2
sniffio==1.3.0
snowballstemmer==2.2.0
sortedcontainers==2.4.0
soundfile==0.12.1
soupsieve==2.5
soxr==0.5.0.post1
spacy==3.7.2
spacy-legacy==3.0.12
spacy-loggers==1.0.5
SPARQLWrapper==2.0.0
spectral-cube==0.6.2
spglib==2.6.0
Sphinx==7.2.6
sphinx-markdown-tables==0.0.17
sphinxcontrib-applehelp==1.0.7
sphinxcontrib-devhelp==1.0.5
sphinxcontrib-htmlhelp==2.0.4
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.6
sphinxcontrib-serializinghtml==1.1.9
sphinxcontrib-spelling==8.0.0
splines==0.3.1
spython==0.3.13
SQLAlchemy==2.0.21
sqlitedict==2.1.0
sqlparse==0.4.4
srsly==2.4.8
stack-data==0.6.3
starlette==0.32.0.post1
statsmodels==0.14.0
stevedore==5.1.0
structlog==23.1.0
stsci.tools==4.1.0
submitit==1.4.6
svg.path==6.3
svgwrite==1.4.3
swagger-spec-validator==3.0.3
symfc==1.5.4
sympy==1.12.1
synapseclient==4.5.0
tabulate==0.9.0
taufactor==1.1.0
tenacity==8.2.3
tensorboard==2.19.0
tensorboard-data-server==0.7.2
tensorboard-plugin-wit==1.8.1
tensorboard-pytorch==0.7.1
tensorboardX==2.6.2.2
tensorflow-estimator==2.15.0
tensorflow-hub==0.16.1
tensorflow-probability==0.24.0
tensorly==0.8.1
tensorly-torch==0.4.0
tensorpack==0.11
termcolor==2.4.0
terminado==0.18.1
terminaltables==3.1.10
test-tube==0.7.5
text-unidecode==1.3
texttable==1.6.7
textual==4.0.0
tf-slim==1.1.0
thinc==8.2.2
thop==0.1.1.post2209072238
threadpoolctl==3.2.0
tifffile==2023.9.26
tiktoken==0.9.0
timer4==1.1.0
timezonefinder==6.2.0
timm==0.9.16
tinycss2==1.4.0
tinycudann @ file:///scratch3/hli001/installs/tiny-cuda-nn/tiny-cuda-nn-git/bindings/torch/tinycudann-1.7-cp312-cp312-linux_x86_64.whl#sha256=0b5e501ab9fe85cb431997c5d0337d695f2dc17e7ead7b9075fbad005e45f81b
tinyhtml5==2.0.0
tokenizers==0.21.0
toml==0.10.2
tomli==2.0.1
tomlkit==0.12.1
toolshed==0.4.6
toolz==0.12.0
topaz-em==0.2.5
torch==2.3.1
torch-cluster==1.6.2
torch-efficient-distloss==0.1.3
torch-ema==0.3
torch-fidelity==0.3.0
torch-geometric==2.3.1
torch-harmonics==0.6.5
torch-scatter @ file:///scratch3/hli001/installs/python/pytorch_scatter-2.1.2/torch_scatter-2.1.2-cp312-cp312-linux_x86_64.whl#sha256=2d031eaf5dcf99412d69939d2459a10a6e917988a7abc31efc45f11fab481c93
torch-sparse==0.6.18
torch-spline-conv==1.2.2
torchaudio @ file:///scratch3/hli001/installs/pytorch/audio-2.3.1/dist/torchaudio-2.3.1-cp312-cp312-linux_x86_64.whl#sha256=f9bbb09828c8b206fb87157d316c52a5bd36928feec2cbf98216b0137aad3ff9
torchdata==0.7.1
torchdistill==1.1.3
torchmetrics==1.2.0
torchrunx==0.3.0
torchsummary==1.5.1
torchtyping==0.1.4
torchvision @ file:///scratch3/hli001/installs/pytorch/vision-0.18.1/dist/torchvision-0.18.1-cp312-cp312-linux_x86_64.whl#sha256=6b77afd6a0d12889983077ff894fefdd8ca1ede01b3d4033a601c374d973754d
tornado==6.3.3
tox==4.10.0
tqdm==4.66.5
tqdm-multiprocess==0.0.11
traitlets==5.14.2
traits==6.4.3
traittypes==0.2.1
transformers==4.47.1
transformers-stream-generator==0.0.5
transforms3d==0.4.2
trimesh==3.23.5
triton @ file:///scratch3/hli001/installs/pytorch/triton-2.0.0/python/triton-git/python/triton-2.1.0-cp312-cp312-linux_x86_64.whl#sha256=9822788288990563b4cbf5d652352bb38b82cde507a7740bdc9e87f06a7c68d5
twine==4.0.2
Twisted==23.8.0
ty==0.0.1a13
typed-argument-parser==1.8.1
typeguard==4.1.5
typer==0.9.0
typer-config==1.4.0
types-python-dateutil==2.8.19.14
types-requests==2.32.0.20250328
typing==3.7.4.3
typing-inspect==0.9.0
typing_extensions==4.12.2
tyro==0.5.12
tzdata==2025.2
tzlocal==5.2
uc-micro-py==1.0.2
umap-learn==0.5.7
universal_pathlib==0.2.6
uri-template==1.3.0
urllib3==2.0.6
userpath==1.9.2
uv==0.7.19
uvicorn==0.25.0
vbz-h5py-plugin==1.0.1
versioneer==0.29
vine==5.0.0
virtualenv==20.29.3
virtualenv-clone==0.5.7
virtualenvwrapper==4.8.4
viser==0.1.7
vispy==0.14.0
wadler_lindig==0.1.6
wandb==0.16.6
wasabi==1.1.2
wcwidth==0.2.8
weasel==0.3.4
weasyprint==65.0
webcolors==1.13
webdataset==0.2.111
webencodings==0.5.1
websocket==0.2.1
websocket-client==1.6.4
websockets==12.0
Werkzeug==3.0.0
wfdb==4.1.2
wheel==0.41.2
widgetsnbextension==4.0.10
wimpy==0.6
wrapt==1.15.0
wsproto==1.2.0
WTForms==3.0.1
xarray==2024.2.0
xgboost==2.0.0
xgrammar==0.1.22
xlib==0.21
xlrd==2.0.1
XlsxWriter==3.2.0
xmltodict==0.13.0
xmod==1.8.1
xray==0.7.0
xxhash==3.4.1
xyzservices==2023.7.0
yacs==0.1.8
yapf==0.40.2
yarg==0.1.9
yarl==1.9.2
yfinance==0.2.30
yolk==0.4.3
yourdfpy==0.0.53
zarr==3.0.0b1
zict==3.0.0
zipp==3.19.3
zombie-imp==0.0.2
zope.event==5.0
zope.interface==6.0
zopfli==0.2.3.post1
zss==1.2.0
zstandard==0.22.0
